@page
@model PilotsRUs.Admin.App.Pages.Countries.CreateModel
@{
    ViewData["Title"] = "Create country";
}

<div class="card">
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.IsoAlpha2Code" class="form-label"></label>
                <input asp-for="Input.IsoAlpha2Code" class="form-control" />
                <span asp-validation-for="Input.IsoAlpha2Code" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.IsoAlpha3Code" class="form-label"></label>
                <input asp-for="Input.IsoAlpha3Code" class="form-control" />
                <span asp-validation-for="Input.IsoAlpha3Code" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-page="/Countries/Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
