@page "{id:guid}"
@model PilotsRUs.Admin.App.Pages.AircraftModels.EditModel
@{
    ViewData["Title"] = "Edit aircraft model";
}

<div class="card">
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.ManufacturerId" class="form-label"></label>
                <select asp-for="Input.ManufacturerId" asp-items="Model.ManufacturerOptions" class="form-select">
                    <option value="">-- Select Manufacturer --</option>
                </select>
                <span asp-validation-for="Input.ManufacturerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.IcaoTypeDesignator" class="form-label"></label>
                <input asp-for="Input.IcaoTypeDesignator" class="form-control" />
                <span asp-validation-for="Input.IcaoTypeDesignator" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/AircraftModels/Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
